#main{
    background-color: black;
}

h1,h3,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: green;
}
.form-border h1,h3{
    color: white;
}
.form-border{
    background-color: rgb(97, 95, 95);
}

figcaption{
    font-family: 'Times New Roman, Times, serif';
    color:purple;
    font-size: x-large;
    text-align: center;

}
.section-title{
    font-size: xx-large;
}

.images{
    text-align: center;
    height:150px;

}
.title-div{
    border: 10px solid white;
}
.text-div{
    border: 5px dashed green;
}
.games{
    border: 5px solid white;
}
.games-box{
    border: 5px solid gray;
    border-radius: 20px;
}
.anime{
    border: 5px solid gray;
}
.anime-box{
    border: 5px solid snow;
    border-radius: 20px;

}
